.product-slider {
  position: relative;
}
.product-slider .product-slider-item {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.product-slider .owl-nav .owl-prev,
.product-slider .owl-nav .owl-next {
  position: absolute;
  top: 35%;
  background: none;
  transform: translateY(-50%);
  z-index: 20;
  position: absolute;
}
.product-slider .owl-nav .owl-prev {
  left: -80px;
}
.product-slider .owl-nav .owl-next {
  right: -80px;
}
.parallax-section {
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.circle-slider-bg {
  display: flex;
  align-items: center;
  height: 100%;
  /*background-size: contain !important;*/
  background-position: center right;
}
@media (max-width: 767.98px) {
  .circle-slider-bg {
    background-position: center bottom !important;
    background-size: 100% !important;
  }
  .circle-slider h2{
    font-size: 30px !important;
  }
}
.product-grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  color: #868e96;
}
.product-grid-header strong {
  color: #495057;
}
.product-grid-header-show {
  display: inline-block;
  padding: 0.3rem;
  color: #495057;
  margin-right: 0.5rem;
}
.product-grid-header-show.active {
  border-bottom: solid 2px #495057;
}
.product-grid-header-show:hover,
.product-grid-header-show:focus {
  text-decoration: none;
  border-bottom: solid 2px #495057;
}
.product {
  margin-bottom: 1.5rem;
}
.product-image {
  position: relative;
  border-bottom: 2px solid #495057;
}
.product-image:hover {
  border-bottom: 2px solid #3494e6;
}
.product-image:hover .product-hover-overlay {
  opacity: 1;
}
.product-image:hover .btn {
  transform: none !important;
  opacity: 1 !important;
}
.product-hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.92);
  opacity: 0;
  transition: opacity 0.3s;
}
.product-hover-overlay .product-hover-overlay-buttons {
  z-index: 3;
}
.product-hover-overlay .btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.product-hover-overlay .btn.btn-product-left {
  transform: translateX(-20px);
  opacity: 0;
}
.product-hover-overlay .btn.btn-product-right {
  transform: translateX(20px);
  opacity: 0;
}
.product-hover-overlay .btn.btn-buy {
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.product-hover-overlay .product-hover-overlay-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media (min-width: 576px) {
  .product-columns {
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }
}
@media (min-width: 768px) {
  .product-columns {
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}
.detail-images {
  display: flex;
  margin-bottom: 3rem;
}
.detail-thumb-item {
  display: block;
  max-width: 100%;
  background: none;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  outline: none !important;
  padding: 0;
}
.detail-thumb-item.active {
  opacity: 1;
}
.detail-carousel {
  position: relative;
}
.detail-carousel .ribbon {
  position: absolute;
  top: 20px;
  left: 4px;
  z-index: 999;
}
.detail-carousel .ribbon + .ribbon {
  top: 80px;
}
.detail-carousel .ribbon + .ribbon + .ribbon {
  top: 145px;
}
.detail-option-heading {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #495057;
}
.detail-option-heading span {
  font-weight: normal;
  font-size: 0.8rem;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  color: #adb5bd;
}
.detail-option-btn-label {
  position: relative;
}
.detail-option-btn-label.active {
  box-shadow: none !important;
}
.detail-quantity {
  max-width: 5rem;
  text-align: center;
}
.detail-full-item {
  width: 100%;
  min-height: 600px;
}
@media (min-width: 992px) {
  .detail-full-item {
    height: calc(100vh - 125px - 2rem);
  }
}
.detail-full-item-modal {
  width: 100%;
  min-height: 600px;
  height: calc(100vh - 125px - 5rem);
  max-height: 800px;
}
.detail-nav-link.nav-link {
  color: #868e96;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-color: #fff #fff #ddd;
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
}
.detail-nav-link.nav-link.active,
.detail-nav-link.nav-link:hover,
.detail-nav-link.nav-link:focus {
  color: #343a40;
  border-color: #fff #fff #343a40 !important;
}
.review {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #e9ecef;
}
.review:first-of-type {
  padding-top: 1rem;
}
.review:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
.review-image {
  display: block;
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 auto 0.5rem;
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.125);
}
@media (max-width: 767.98px) {
  .review-image {
    width: 100px;
    padding: 0.4rem;
  }
  .mainsection-title h2{
    font-size: 20px !important;
  }
  .productimg:before{
    display: none !important;
  }
  .productdetail{
    padding: 20px !important;
        background: #dee2e6;
  }
}
.review-text {
  padding-top: 1rem;
}
.ribbon {
  position: absolute;
  top: 10px;
  left: -11px;
  z-index: 999;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding: 3px 15px 5px;
  color: #fff;
  text-align: center;
}
.ribbon + .ribbon {
  top: 60px;
}
.ribbon + .ribbon + .ribbon {
  top: 110px;
}
.ribbon + .ribbon + .ribbon + .ribbon {
  top: 160px;
}
.ribbon::before {
  content: "";
  border-left: 12px solid transparent;
  border-right: 0 solid transparent;
  border-top: 14px solid #1460a0;
  position: absolute;
  bottom: -14px;
  left: 0;
}
.ribbon-primary {
  background-color: #3494e6 !important;
}
.ribbon-primary::before {
  border-top-color: #1460a0;
}
.ribbon-secondary {
  background-color: #868e96 !important;
}
.ribbon-secondary::before {
  border-top-color: #555b61;
}
.ribbon-success {
  background-color: #35b653 !important;
}
.ribbon-success::before {
  border-top-color: #1e672f;
}
.ribbon-info {
  background-color: #17a2b8 !important;
}
.ribbon-info::before {
  border-top-color: #0c525d;
}
.ribbon-warning {
  background-color: #ffc107 !important;
}
.ribbon-warning::before {
  border-top-color: #a07800;
}
.ribbon-danger {
  background-color: #dc3545 !important;
}
.ribbon-danger::before {
  border-top-color: #921925;
}
.ribbon-light {
  background-color: #f8f9fa !important;
}
.ribbon-light::before {
  border-top-color: #bdc6d0;
}
.ribbon-dark {
  background-color: #343a40 !important;
}
.ribbon-dark::before {
  border-top-color: #060708;
}
.block-header {
  padding: 1.2rem 1.5rem;
  background: #f8f9fa;
}
.block-body {
  padding: 1.2rem 1.5rem;
}
.cart-header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  padding: 1.2rem 2rem;
  background: #f8f9fa;
}
.cart-body {
  padding: 0 2rem;
}
.cart-footer {
  background: #f8f9fa;
  padding: 0 2rem;
}
.cart-footer .cart-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cart-item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e9ecef;
}
.cart-item:last-of-type {
  border-bottom: none;
}
.cart-item-img {
  max-width: 80px;
}
.cart-title {
  margin-left: 1rem;
}
.cart-remove {
  color: #495057;
  font-size: 0.7875rem;
}
.order-summary-item {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}
.order-summary-total {
  font-weight: 700;
  font-size: 1.2em;
}
.btn.btn-items {
  color: #868e96;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: center;
}
.input-items {
  min-width: 40px;
}
@media (max-width: 991.98px) {
  .cart {
    overflow-x: auto;
  }
  .cart-wrapper {
    min-width: 992px;
  }
}
.nav-pills.custom-nav {
  padding: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
}
.custom-nav .nav-item {
  background: #f8f9fa;
  align-self: stretch;
}
.custom-nav .nav-item:last-of-type .nav-link {
  border-right: none !important;
}
.custom-nav .nav-item:last-of-type .nav-link::after {
  display: none;
}
.custom-nav .nav-link {
  position: relative;
  height: 100%;
  border: none !important;
  background: none;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: center;
  background: none;
  border-radius: 0 !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #495057;
}
.custom-nav .nav-link.active {
  background: #495057;
  color: #fff;
}
.custom-nav .nav-link.active::after {
  display: none;
}
.custom-nav .nav-link.disabled {
  cursor: not-allowed !important;
  background: #f8f9fa;
  color: #999;
}
.custom-nav .nav-link::after {
  content: "";
  width: 1px;
  height: 50%;
  background: #ddd;
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 0;
}
@media (max-width: 991.98px) {
  .custom-nav .nav-item {
    width: 100% !important;
    margin-bottom: 5px;
  }
  .custom-nav .nav-item .nav-link {
    border-right: none;
  }
  .custom-nav .nav-item .nav-link::after {
    display: none;
  }
}
.customer-profile {
  text-align: center;
  background: #f8f9fa;
  padding: 2rem;
}
.customer-image {
  padding: 0.5rem;
  background: #fff;
  max-width: 10rem;
  margin-bottom: 1.5rem;
}
.customer-nav .list-group-item {
  color: #495057;
  font-size: 0.9rem;
  border-color: #e9ecef;
}
.customer-nav .list-group-item:hover,
.customer-nav .list-group-item:focus {
  background: #f8f9fa;
}
.customer-nav .list-group-item.active {
  background: #e9ecef;
  border-color: #e9ecef;
}
.about-text-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image-column {
  position: relative;
  min-height: 400px;
}
@media (min-width: 992px) {
  .about-image-column {
    min-height: 600px;
  }
}
.about-text {
  padding: 4rem 2rem;
}
@media (min-width: 992px) {
  .about-text {
    padding: 7rem;
    max-width: 600px;
  }
}